<!DOCTYPE html>
<html>
  <head>
    <title>EditHub</title>
    <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%- if controller_name != 'sessions'%>
    <header>
      <div class=heading>
        <p class=heading-text>EditHub</p>
      </div>
      <div class=header-wrapper>
        <% if @bool == 1%>
        <button type=button id=pushButton>Push</button>
        <%end%>
        <%=link_to "Home",repositories_path, class: "home-menu"%>
    <% if user_signed_in?%>
    <%=link_to "Signout",destroy_user_session_path, method: :delete, class: "signout"%>
    <%end%>
  </div>
  </header>
  <%end%>
    <%= yield %>
  </body>
</html>
