<!DOCTYPE html>
<html>
  <head>
    <title>Directory</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <div class=heading>
        <h1 class=heading-text>Editor</h1>
      </div>
      <div class=header-wrapper>
        <% if @bool == 1%>
        <button type=button id=pushButton>Push</button>
        <%end%>
        <%=link_to "Home",repositories_path%>
    <% if user_signed_in?%>
    <%=link_to "Signout",destroy_user_session_path, method: :delete, class: "signout"%>
    <%end%>
  </div>
  </header>
    <%= yield %>
  </body>
</html>
